* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  overflow-x: hidden !important;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  font-weight: 500;
}

.herocontainer {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(44deg, #4e88ff, #33c2ae 68%);
  background-size: cover;
  background-position: center center;
}

.herocontainer .heroflex {
  margin: auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.herocontainer .heroflex img {
  width: 650px;
}

.herocontainer .herocontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.herocontainer .herocontent h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.herocontainer .herocontent p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.herocontainer .herocontent .herobutton {
  width: 62%;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: 1px solid white;
  padding: 1rem 0 1rem 0;
  text-align: center;
  margin-top: 1.23rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.herocontainer .herocontent .herobutton:hover,
.herocontainer .herocontent .herobutton:active {
  background-color: white;
  color: black;
  border-radius: 45px;
}

.boxgrid {
  width: 100%;
}

.boxgrid h3 {
  text-align: center;
}

.boxgrid .boxgridflex {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: relative;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  top: -3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.boxgrid .boxgridflex .boxgriditem {
  width: 33%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: relative;
  padding: 30px;
  text-align: center;
}

.boxgrid .boxgridflex .boxgriditem i, .boxgrid .boxgridflex .boxgriditem h3, .boxgrid .boxgridflex .boxgriditem p {
  margin-bottom: 1rem;
}

.boxgrid .boxgridflex .boxgriditem i {
  font-size: 2.5rem;
  color: #a6a6a6;
}

.boxgrid .boxgridflex .boxgriditem h3 {
  font-weight: 600;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
}

.boxgrid .boxgridflex .boxgriditem p {
  color: #7e7e7e;
  font-weight: 400;
}

.boxgrid .boxgridflex .boxgriditem .boxgrid-button {
  width: 38%;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #3d75d0;
  margin-top: 4px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.boxgrid .boxgridflex .boxgriditem .boxgrid-button:hover,
.boxgrid .boxgridflex .boxgriditem .boxgrid-button:active {
  background-color: #215aa0;
}

.mobileadvert {
  width: 100%;
  background-color: #f3f4f5;
  padding-top: 200px;
  padding-bottom: 7.5rem;
  margin-top: -140px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.mobileadvert .mobileadvertflex {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.mobileadvert .mobileadvertflex img {
  width: 300px;
  margin: auto;
  position: relative;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent {
  width: 500px;
  margin: auto;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent .li-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.mobileadvert .mobileadvertflex .mobileadvertcontent h2 {
  color: #3d75d0;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent h4 {
  font-weight: 600;
  margin-bottom: 0.85rem;
  color: black;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li {
  list-style-type: none;
  background-color: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #979797;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li span {
  color: #3d75d0;
  font-size: 24px;
  font-weight: 700;
}

.contact {
  width: 100%;
  padding-top: 5rem;
  min-height: 100vh;
}

.contact h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
  color: #3d75d0;
}

.contact .contactflex {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.contact .contactflex .contactcontent {
  background-color: #103f6d;
  color: white;
  padding: 1rem;
  height: 469.7px;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contactflex .contactcontent h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.contact .contactflex .contactcontent hr {
  background-color: #e5e5e5;
  width: 100%;
}

.contact .contactflex .contactcontent p, .contact .contactflex .contactcontent i {
  color: white;
}

.contact .contactflex .contactcontent i {
  margin-right: 8px;
}

.contact .contactflex .contactcontent .fa-facebook,
.contact .contactflex .contactcontent .fa-instagram,
.contact .contactflex .contactcontent .fa-twitter {
  font-size: 1.618rem;
}

.contact .contactflex .contactcontent .fa-facebook,
.contact .contactflex .contactcontent .fa-instagram {
  margin-right: 2rem;
}

.contact .card {
  width: 750px;
  height: 469.7px;
  padding: 3rem;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.contact .card .contactbutton {
  padding: 1rem;
  background-color: #3d75d0;
  border-radius: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 2rem;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .card .contactbutton:hover,
.contact .card .contactbutton:active {
  background-color: #215aa0;
}

.contact .card h3 {
  font-weight: 500;
}

.contact .card .fa-paper-plane {
  background-color: #3d75d0;
}

.contact .card .fa-envelope {
  color: #3d75d0;
}

.description {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: -140px;
  z-index: 1;
  background-color: #f0f2f5;
  padding-top: 160px;
}

.description .description-content {
  width: 1200px;
  text-align: center;
  margin: auto;
}

.description .description-content h2 {
  color: #3d75d0;
  font-weight: 500;
  margin-bottom: 3rem;
}

.description .description-content p {
  width: 62%;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 4rem;
}

.description .description-flex {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.description .description-flex img {
  width: 50%;
}

.description .description-flex .description-flex-content {
  width: auto;
}

.description .description-flex .description-flex-content li {
  list-style-type: none;
}

.br {
  border-right: 1px solid #e5e5e5;
}

.bb {
  border-bottom: 1px solid #e5e5e5;
}

.navbar {
  background: transparent !important;
  width: 1200px;
  margin: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  padding: 0 !important;
}

.navbar a {
  color: white;
}

.star {
  width: 100%;
  background-color: #f3f4f5;
}

.star .starflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.star .starflex i {
  color: #ffbf40;
  font-size: 1.25rem;
}

.star .starflex .starcontent {
  text-align: center;
  padding: 2.5rem;
}

.star .starflex .starcontent p {
  margin: 8px 0 0 0;
}

footer {
  width: 100%;
  min-height: 100vh;
  background-color: #122442;
}

footer .footerflex {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerflex .footerflexitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

footer .footerflex .footerflexitem h3, footer .footerflex .footerflexitem a {
  color: white;
}

@media screen and (max-width: 480px) {
  .navbar, .heroflex, .boxgridflex, .description-content, .description-flex {
    width: 100vw !important;
  }
  .navbar {
    padding: 0 1rem !important;
  }
  .herocontainer .heroflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem;
  }
  .herocontainer .heroflex img {
    display: none;
  }
  .herocontainer .heroflex .herocontent {
    width: 100%;
  }
  .boxgridflex {
    top: 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
  .boxgridflex .boxgriditem {
    width: 100% !important;
  }
}

.navbar-toggler-icon {
  color: white !important;
  z-index: 99 !important;
}

.marketimg {
  width: 100%;
  background-color: #f3f4f5;
  padding-top: 200px;
  padding-bottom: 7.5rem;
  margin-top: -140px;
}

.marketimg .marketimgflex {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.marketimg .marketimgflex .marketimgcontent {
  width: 50%;
  margin-left: 1rem;
}

.marketimg .marketimgflex .marketimgcontent h2 {
  color: #3d75d0;
  font-weight: 700;
}

.marketimg .marketimgflex .marketimgcontent li {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(100, 100, 100, 0.158);
          box-shadow: 2px 2px 6px 0 rgba(100, 100, 100, 0.158);
  list-style-type: none;
}

.li-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.li-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.li-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.li-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.li-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

figure {
  padding: 0.5rem 0.5rem 0 1rem !important;
}

figure img {
  -webkit-box-shadow: 0px 12px 40px rgba(63, 63, 63, 0.158);
          box-shadow: 0px 12px 40px rgba(63, 63, 63, 0.158);
}

.gallery {
  width: 62%;
  margin-right: 1rem;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.gallery .animation {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

@media screen and (min-width: 2000px) {
  .herocontainer {
    min-height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */