* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  overflow-x: hidden !important;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-weight: 500;
  line-height: 25.88px;
}

h3 {
  color: #143d55 !important;
}

h1::after {
  background-color: black;
  content: '';
}

.herocontainer {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(44deg, #4e88ff, #33c2ae 68%);
  background-size: cover;
  background-position: center center;
}

.herocontainer .heroflex {
  margin: auto;
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.herocontainer .heroflex h1 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.herocontainer .heroflex p {
  line-height: 32.36px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.herocontainer .heroflex a {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.herocontainer .heroflex img {
  width: 650px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.herocontainer .herocontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.herocontainer .herocontent h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 2rem;
}

.herocontainer .herocontent p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.herobutton {
  width: 62%;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: 1px solid white;
  padding: 1rem 0 1rem 0;
  text-align: center;
  margin-top: 1.23rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.herobutton:hover,
.herobutton:active {
  background-color: white;
  color: #3d75d0;
  border-radius: 45px;
}

.boxgrid {
  width: 100%;
}

.boxgrid h3 {
  text-align: center;
}

.boxgrid .boxgridflex {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: relative;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.boxgrid .boxgridflex .boxgriditem {
  width: 33%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: relative;
  padding: 30px;
  text-align: center;
}

.boxgrid .boxgridflex .boxgriditem i, .boxgrid .boxgridflex .boxgriditem h3, .boxgrid .boxgridflex .boxgriditem p {
  margin-bottom: 1rem;
}

.boxgrid .boxgridflex .boxgriditem i {
  font-size: 2.5rem;
  color: #a6a6a6;
}

.boxgrid .boxgridflex .boxgriditem h3 {
  font-size: 28px;
  font-weight: 600;
  color: #161616;
}

.boxgrid .boxgridflex .boxgriditem p {
  font-weight: 400;
}

.boxgrid .boxgridflex .boxgriditem .boxgrid-button {
  width: 38%;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #3d75d0;
  margin-top: 4px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.boxgrid .boxgridflex .boxgriditem .boxgrid-button:hover,
.boxgrid .boxgridflex .boxgriditem .boxgrid-button:active {
  background-color: #215aa0;
}

.mobileadvert {
  width: 100%;
  background: linear-gradient(44deg, #4e88ff, #33c2ae 68%);
  padding: 2rem 0 2rem 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileadvert .mobileadvertflex {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.mobileadvert .mobileadvertflex img {
  width: 300px;
  margin: auto;
  position: relative;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent {
  width: 500px;
  margin: auto;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent .li-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.mobileadvert .mobileadvertflex .mobileadvertcontent h2 {
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 2rem;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.85rem;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li {
  list-style-type: none;
  background-color: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #3d75d0;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li span {
  color: #3d75d0;
  font-size: 24px;
  font-weight: 700;
}

.blog {
  width: 100%;
  background-color: #fff;
  padding: 3rem 0 5rem 0;
}

.blog h2 {
  color: #3d75d0;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 3rem;
}

.blog .blogflex {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.blog .blogflex .blogitem {
  width: 30%;
  background-color: #fff;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
  border-radius: 3px;
}

.blog .blogflex .blogitem img {
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.blog .blogflex .blogitem .blogitemcontent {
  padding: 1rem;
}

.blog .blogflex .blogitem .blogitemcontent .blogheader {
  font-size: 24px;
  font-weight: 700;
  color: #143d55;
}

.blog .blogflex .blogitem .blogitemcontent p {
  margin-top: 8px;
}

.blog .blogflex .blogitem .blogitemcontent .blogbutton {
  color: #3d75d0;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .blogflex .blogitem .blogitemcontent .fa-calendar {
  margin-right: 8px;
}

.blog .blogflex .blogitem .blogitemcontent .fa-arrow-right {
  margin-left: 8px;
}

.experiment1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  min-height: 100vh;
}

.experiment1 img {
  width: 450px;
  height: 450px;
  position: relative;
}

.experiment1 .firstimg {
  top: 175px;
  left: 250px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.experiment1 .firstimgadd {
  top: 0;
  left: 432px;
}

.experiment1 .secondimgadd {
  top: 216px;
  right: 216px;
}

.contact {
  width: 100%;
  padding-top: 5rem;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.contact .contactflex {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
}

.contact .contactflex .contactcontent {
  width: 50%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 0;
}

.contact .contactflex .contactcontent h2 {
  font-size: 36px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 1rem;
  color: #3d75d0;
}

.contact .contactflex .contactcontent h3 {
  color: #143d55;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact .contactflex .contactcontent hr {
  background-color: #e5e5e5;
  width: 100%;
  margin-bottom: 1.5rem;
}

.contact .contactflex .contactcontent .p2 {
  font-style: italic;
}

.contact .contactflex .contactcontent i {
  margin-right: 8px;
}

.contact .contactflex .contactcontent .fa-facebook,
.contact .contactflex .contactcontent .fa-instagram,
.contact .contactflex .contactcontent .fa-twitter {
  font-size: 1.618rem;
}

.contact .contactflex .contactcontent .fa-facebook {
  color: #4267B2;
}

.contact .contactflex .contactcontent .fa-instagram {
  color: #3f729b;
}

.contact .contactflex .contactcontent .fa-twitter {
  color: #1DA1F2;
}

.contact .contactflex .contactcontent .fa-facebook,
.contact .contactflex .contactcontent .fa-instagram {
  margin-right: 2rem;
}

.contact .card {
  width: 500px;
  margin: auto;
  padding: 3rem;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.contact .card .contactbutton {
  padding: 1rem;
  background-color: #3d75d0;
  border-radius: 45px;
  border: 2px solid #3d75d0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 2rem;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact .card .contactbutton:hover,
.contact .card .contactbutton:active {
  color: #3d75d0;
  background-color: transparent;
}

.contact .card h3 {
  font-weight: 800;
}

.contact .card .fa-paper-plane {
  background-color: #3d75d0;
}

.fa-envelope {
  color: #3d75d0;
}

.description {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: -140px;
  z-index: 1;
  background-color: #f0f2f5;
  padding-top: 160px;
}

.description .description-content {
  width: 1280px;
  text-align: center;
  margin: auto;
}

.description .description-content h2 {
  color: #3d75d0;
  font-weight: 500;
  margin-bottom: 3rem;
}

.description .description-content p {
  width: 62%;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 4rem;
}

.description .description-flex {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.description .description-flex img {
  width: 50%;
}

.description .description-flex .description-flex-content {
  width: auto;
}

.description .description-flex .description-flex-content li {
  list-style-type: none;
}

.br {
  border-right: 1px solid #e5e5e5;
}

.bb {
  border-bottom: 1px solid #e5e5e5;
}

nav {
  width: 100vw !important;
}

.navflex {
  width: 1280px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: auto;
}

.navbar {
  margin: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 4px 0 4px 0 !important;
}

.navbar a {
  color: white;
}

.star {
  width: 100%;
  background-color: #f0f2f5;
}

.star .starflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.star .starflex i {
  color: #ffbf40;
  font-size: 1.25rem;
}

.star .starflex .starcontent {
  text-align: center;
  padding: 2.5rem;
}

.star .starflex .starcontent p {
  margin: 8px 0 0 0;
}

.navbar-toggler-icon {
  color: white !important;
  z-index: 99 !important;
}

.marketimg {
  width: 100%;
  background-color: #f0f2f5;
  padding-top: 200px;
  padding-bottom: 7.5rem;
  margin-top: -140px;
}

.marketimg .marketimgflex {
  width: 1280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.marketimg .marketimgflex .marketimgcontent {
  width: 50%;
  margin-left: 1rem;
}

.marketimg .marketimgflex .marketimgcontent h2 {
  color: #3d75d0;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.marketimg .marketimgflex .marketimgcontent p {
  margin-bottom: 2rem;
}

.marketimg .marketimgflex .marketimgcontent li {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(100, 100, 100, 0.158);
          box-shadow: 0 2px 5px 0 rgba(100, 100, 100, 0.158);
  list-style-type: none;
  border-radius: 3px;
}

.btn-block {
  padding: 1rem;
  border-radius: 3px;
  border: 2px solid #3d75d0 !important;
  background-color: #3d75d0;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 2rem;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-block:hover,
.btn-block:active {
  background-color: transparent;
  color: #3d75d0;
}

figure {
  padding: 0.5rem 0.5rem 0 1rem !important;
}

.gallery {
  width: 62%;
  margin-right: 1rem;
  position: relative;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.gallery .animation {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.overlay {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#f3f4f588), color-stop(85%, transparent));
  background-image: linear-gradient(90deg, #f3f4f588 0%, transparent 85%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: #143d55;
}

footer p {
  color: white;
  font-size: 16px;
}

footer h5 {
  color: white;
}

footer a {
  font-size: 16px;
}

footer .footerbutton {
  background-color: #3d75d0;
  font-size: 1rem;
  font-weight: 500;
}

footer .footerbutton:hover,
footer .footerbutton:active {
  color: white;
}

.heropages {
  width: 100%;
  min-height: 62vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(44deg, #4e88ff, #33c2ae 68%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heropages .heropagesflex {
  width: 1280px;
}

.heropages .heropagesflex .heropagescontent h1 {
  margin-bottom: 3rem;
  color: white;
  font-weight: 800;
}

.heropages .heropagesflex .heropagescontent .herobutton {
  padding: 1rem 3rem;
  font-weight: 700;
}

@media screen and (max-width: 550px) {
  .heroflex img {
    display: none;
  }
}

@media screen and (min-width: 2000px) {
  .herocontainer {
    min-height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  html, body {
    overflow-x: hidden !important;
  }
  .herocontainer, .boxgrid, .marketimg, .mobileadvert, .contact, .navbar {
    width: 100% !important;
  }
  .heroflex, .boxgridflex, .description-content, .description-flex, .marketimgflex, .mobileadvertflex, .gallery, .contactflex, .footerflex, .blogflex {
    width: 90vw !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .navbar {
    padding: 0 1rem !important;
  }
  .navbar .navflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .herocontainer .heroflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 90% !important;
  }
  .herocontainer .heroflex img {
    width: 100% !important;
    margin-top: 5rem;
  }
  .herocontainer .heroflex .herocontent {
    width: 90% !important;
    margin: 0 !important;
  }
  .boxgridflex {
    top: 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
  .boxgridflex .boxgriditem {
    width: 100% !important;
  }
  .gallery {
    width: 90vw !important;
  }
  .marketimgcontent {
    width: 90vw !important;
    margin: 0 !important;
  }
  .marketimgcontent h2 {
    text-align: center;
    margin-top: 1.5rem;
  }
  .mobileadvertcontent {
    width: 90vw !important;
    margin-top: 2rem !important;
  }
  .contact {
    padding: 2rem 0 !important;
  }
  .contact .contactcontent {
    width: 90vw !important;
    margin-bottom: 1rem !important;
  }
  .contact .form {
    width: 90vw !important;
  }
  .marketimg {
    padding: 12rem 0 2rem 0 !important;
  }
  .blogitem {
    width: 90vw !important;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1199.98px) {
  .heroflex, .boxgridflex, .description-content, .description-flex, .marketimgflex, .mobileadvertflex, .contactflex {
    width: 90vw !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .heroflex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
  .heroflex img {
    width: 90% !important;
    margin-top: 11rem;
  }
  .heroflex .herocontent {
    width: 75% !important;
  }
  .gallery {
    width: 50%;
  }
  .boxgriditem {
    height: auto !important;
  }
}

@media screen and (max-width: 1300.98px) {
  .heroflex, .boxgridflex, .description-content, .description-flex, .marketimgflex, .mobileadvertflex, .contactflex, .footerflex {
    width: 90vw !important;
  }
}

.modalbutton {
  margin: 0 !important;
  background-color: #3d75d0 !important;
  font-weight: 600;
}

.btn-unique {
  background-color: #3d75d0 !important;
}

.modal-backdrop {
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */