* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	overflow-x: hidden !important;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.herocontainer {
    width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: linear-gradient(44deg,#4e88ff,#33c2ae 68%);
	background-size: cover;
	background-position: center center;
	.heroflex {
		margin: auto;
		width: 1200px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		img {
			width: 650px;
		}
	}
    .herocontent {
display: flex;
width: 450px;
color: white;
flex-flow: column;  
        h1 {
			font-size: 48px;
            font-weight: 900;
			margin-bottom: 2rem;
        }
        p {
			font-size: 20px;
            font-weight: 500;
        }
		.herobutton {
			width: 62%;
			font-size: 20px;
			font-weight: 500;
			font-family: 'Open Sans', sans-serif;
			color: white;
			border: 1px solid white;
			padding: 1rem 0 1rem 0;
			text-align: center;
			margin-top: 1.23rem;
			transition: all 0.5s ease;
		}
		.herobutton:hover,
		.herobutton:active {
			background-color: white;
			color: black;
			border-radius: 45px;
		}
    }
}

.boxgrid {
	width: 100%;
	h3 {
		text-align: center;
	}
	.boxgridflex {
		width: 1200px;
		display: flex;
		z-index: 99;
		position: relative;
		background-color: white;
		flex-flow: row wrap;
		top: -3rem;
		justify-content: center;
		margin: auto;
		box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);

		.boxgriditem {
			width: 33%;
			height: 350px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			background-color: white;
			position: relative;
			padding: 30px;
			text-align: center;
			i, h3, p {
				margin-bottom: 1rem;
			}
			i {
				font-size: 2.5rem;
				color: #a6a6a6;
			}
			h3 {
				font-weight: 600;
				font-family: 'Open Sans', sans-serif;
			}
			p {
				color: #7e7e7e;
				font-weight: 400;
			}

			.boxgrid-button {
				width: 38%;
				padding: 0.5rem 1rem;
				border-radius: 3px;
				background-color: #3d75d0;
				margin-top: 4px;
				color: white;
				font-family: 'Open Sans', sans-serif;
				font-weight: 500;
			}
			.boxgrid-button:hover,
			.boxgrid-button:active {
				background-color: #215aa0;
			}
		}
	}
}

.mobileadvert {
	width: 100%;
	background-color: #f0f2f5;
	padding-top: 160px;
	margin-top: -140px;
	transform-style: preserve-3d;
	position: relative;
	min-height: 200vh;

	.mobileadvertflex {
		width: 1200px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		img {
			width: 300px;
			margin: auto;
			transform: skewX(-5deg);
			position: relative;
		}
		.mobileadvertcontent {
			width: 500px;
			margin: auto;
			h2 {
				color: #3d75d0;
				text-align: center;
				font-weight: 700;
				margin-bottom: 2rem;
			}
			li {
				margin-bottom: 2rem;
				list-style-type: none;
				background-color: #fff;
				padding: 1rem;
				span {
					color: #3d75d0;
					font-size: 20px;
					font-weight: 700;
					margin-right: 5px;
				}
			}
		}
	}
}

.description {
	width: 100%;
	min-height: 100vh;
	position: relative;
	margin-top: -140px;
	z-index: 1;
	background-color: #f0f2f5;
	padding-top: 160px;
	.description-content {
		width: 1200px;
		text-align: center;
		margin: auto;
		h2 {
			color: #3d75d0;
			font-weight: 500;
			margin-bottom: 3rem;
		}
		p {
			width: 62%;
			font-size: 20px;
			font-weight: 500;
			margin: auto;
			margin-bottom: 4rem;
		}
	}
	.description-flex {
		width: 1200px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		margin: auto;
		img {
			width: 50%;
		}
		.description-flex-content {
			width: auto;
			li {
				list-style-type: none;
			}
		}
		
	}
}

.br {
	border-right: 1px solid #e5e5e5;
}

.bb {
	border-bottom: 1px solid #e5e5e5;
}

.navbar {
	background: transparent !important;
	width: 1200px;
	margin: auto;
	box-shadow: none;
	position: absolute;
	padding: 0 !important;
	a {
		color: white;
	}
}

@media screen and (max-width: 480px) {
	.navbar, .heroflex, .boxgridflex, .description-content, .description-flex {
		width: 100vw !important;
	}
	.navbar {
		padding: 0 1rem !important;
	}
	.herocontainer {
		.heroflex {
			flex-flow: column;
			padding: 1rem;
			img {
				display: none;
			}
			.herocontent {
				width: 100%;
			}
		}
	}
	.boxgridflex {
		top: 0 !important;
		flex-flow: column nowrap !important;
		.boxgriditem {
			width: 100% !important;
		}
	}
}

.navbar-toggler-icon {
	color: white !important;
	z-index: 99 !important;
}