* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  overflow-x: hidden !important;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.herocontainer {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(44deg, #4e88ff, #33c2ae 68%);
  background-size: cover;
  background-position: center center;
}

.herocontainer .heroflex {
  margin: auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.herocontainer .heroflex img {
  width: 650px;
}

.herocontainer .herocontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.herocontainer .herocontent h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.herocontainer .herocontent p {
  font-size: 20px;
  font-weight: 500;
}

.herocontainer .herocontent .herobutton {
  width: 62%;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: 1px solid white;
  padding: 1rem 0 1rem 0;
  text-align: center;
  margin-top: 1.23rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.herocontainer .herocontent .herobutton:hover,
.herocontainer .herocontent .herobutton:active {
  background-color: white;
  color: black;
  border-radius: 45px;
}

.boxgrid {
  width: 100%;
}

.boxgrid h3 {
  text-align: center;
}

.boxgrid .boxgridflex {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: relative;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  top: -3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.boxgrid .boxgridflex .boxgriditem {
  width: 33%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: relative;
  padding: 30px;
  text-align: center;
}

.boxgrid .boxgridflex .boxgriditem i, .boxgrid .boxgridflex .boxgriditem h3, .boxgrid .boxgridflex .boxgriditem p {
  margin-bottom: 1rem;
}

.boxgrid .boxgridflex .boxgriditem i {
  font-size: 2.5rem;
  color: #a6a6a6;
}

.boxgrid .boxgridflex .boxgriditem h3 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.boxgrid .boxgridflex .boxgriditem p {
  color: #7e7e7e;
  font-weight: 400;
}

.boxgrid .boxgridflex .boxgriditem .boxgrid-button {
  width: 38%;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #3d75d0;
  margin-top: 4px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.boxgrid .boxgridflex .boxgriditem .boxgrid-button:hover,
.boxgrid .boxgridflex .boxgriditem .boxgrid-button:active {
  background-color: #215aa0;
}

.mobileadvert {
  width: 100%;
  background-color: #f0f2f5;
  padding-top: 200px;
  margin-top: -140px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  min-height: 200vh;
}

.mobileadvert .mobileadvertflex {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.mobileadvert .mobileadvertflex img {
  width: 300px;
  margin: auto;
  position: relative;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent {
  width: 500px;
  margin: auto;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent .li-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
          box-shadow: 0px 12px 40px rgba(100, 100, 100, 0.158);
}

.mobileadvert .mobileadvertflex .mobileadvertcontent h2 {
  color: #3d75d0;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0.85rem;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li {
  list-style-type: none;
  background-color: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li i {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.mobileadvert .mobileadvertflex .mobileadvertcontent li span {
  color: #3d75d0;
  font-size: 24px;
  font-weight: 700;
}

.description {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: -140px;
  z-index: 1;
  background-color: #f0f2f5;
  padding-top: 160px;
}

.description .description-content {
  width: 1200px;
  text-align: center;
  margin: auto;
}

.description .description-content h2 {
  color: #3d75d0;
  font-weight: 500;
  margin-bottom: 3rem;
}

.description .description-content p {
  width: 62%;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 4rem;
}

.description .description-flex {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.description .description-flex img {
  width: 50%;
}

.description .description-flex .description-flex-content {
  width: auto;
}

.description .description-flex .description-flex-content li {
  list-style-type: none;
}

.br {
  border-right: 1px solid #e5e5e5;
}

.bb {
  border-bottom: 1px solid #e5e5e5;
}

.navbar {
  background: transparent !important;
  width: 1200px;
  margin: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  padding: 0 !important;
}

.navbar a {
  color: white;
}

@media screen and (max-width: 480px) {
  .navbar, .heroflex, .boxgridflex, .description-content, .description-flex {
    width: 100vw !important;
  }
  .navbar {
    padding: 0 1rem !important;
  }
  .herocontainer .heroflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem;
  }
  .herocontainer .heroflex img {
    display: none;
  }
  .herocontainer .heroflex .herocontent {
    width: 100%;
  }
  .boxgridflex {
    top: 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
  .boxgridflex .boxgriditem {
    width: 100% !important;
  }
}

.navbar-toggler-icon {
  color: white !important;
  z-index: 99 !important;
}
/*# sourceMappingURL=style.css.map */